@import '~styles/utils';

.book-shelf {
  @include flex($flex-direction: column);
  // @include fake-border(right);
  @include relative();
  min-width: 300px;
  border-right: 1px solid var(--divider-color);
  background-color: var(--primary-color);
}
