@import '~styles/utils';

.users {
  padding: 15px;
}

.header {
  @include flex(center, space-between);

  h5 {
    margin-bottom: 0;
  }

  .button-group {
    button {
      + button {
        margin-left: 10px;
      }
    }
  }
}

.fitler {
  @include margin-y(20px);
}

.row-selected {
  background-color: rgba($pt-intent-primary, 0.2);
  :global {
    td {
      color: $pt-intent-primary !important;
    }
  }
}
