@import '~styles/utils';

.item {
  @include flex(center);
  @include relative();
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  + .item {
    &:before {
      @include absolute(0, null, 5%);
      @include dimen(90%);
      border-top: 1px solid var(--divider-color);
      content: '';
    }
  }

  &:hover {
    background-color: var(--item-hover-color);
    .action-button {
      button {
        visibility: visible;
      }
    }
  }

  &.active {
    background-color: var(--item-active-color);
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.action-button {
  @include absolute(10px, null, null, 10px);
  button:not(:global(.bp3-active)) {
    visibility: hidden;
  }
}

.item-body {
  @include flex();
  flex: 1 1 auto;
  overflow: hidden;
  padding: 20px 35px 20px 30px;
}

.item-content {
  flex: 1 1 auto;
  overflow: hidden;
}

$line-height: 1.4em;
$min-height: 1em;

.book-name,
.book-author,
.book-latest-chapter {
  @include dimen(100%);
  clear: both;
  float: left;
  line-height: $line-height;
}

.book-author,
.book-latest-chapter {
  color: var(--text-light-color);
  font-size: 0.85em;
  margin-top: 0.35em;
}

.deleted {
  @include flex(center, center);
  @include dimen(100%);
  @include padding-y(20px);
  color: $orange3;
  line-height: 1.8em;
  text-align: center;

  button {
    width: 60px;
  }
}
