@import '~styles/utils';

.content {
  @include dimen(100%);
  @include padding-x(25px);
  @include padding-y(25px);
  flex: 1 1 auto;
  overflow: auto;
}

.section {
  + .section {
    margin-top: 50px;
  }
  &:last-child {
    margin-bottom: 30px;
  }
}

.section-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

  :global(.layout-body:not(.fix-width)) & {
    @media (min-width: 1280px) {
      grid-template-columns: repeat(3, auto);
    }
  }
}

.section-card {
  @include flex();
  @include sq-dimen(100%);
  padding-left: 30px;
}

.book-info {
  padding-top: 3px;
  line-height: 1.6em;
  > div:nth-child(n + 2) {
    color: var(--text-light-color);
  }
}
