@import '~styles/utils';

.announcement {
  @include flex($flex-direction: column);
  // @include sq-dimen(100%);
  min-height: 100%;
  flex: 1 1 auto;

  > :global(*) {
    flex: 1 1 auto;
  }
}

.header {
  flex: 0 0 auto;
}

.table {
  @include flex($flex-direction: column);
  flex: 1 1 auto;
  margin-top: 20px;
}

.form {
  width: 400px;
}

.description {
  @include editor-style();
}
