@import '~styles/utils';

$padding-x: 15px;

.item {
  @include flex(center);
  @include padding-x($padding-x);
  @include padding-y(10px);
  @include shadow-border();
  background-color: var(--primary-color);
  flex: 0 0 auto;
  margin: 1px 0px;
  min-height: 50px;

  + .item {
    margin-top: -1px;
  }

  > :global(.#{$ns}-icon) {
    margin-right: 0.7em;
  }

  .item-left {
    flex: 1 1 auto;
  }

  .item-right {
    flex: 0 0 auto;
    font-size: 0.9em;
    color: var(--text-light-color);
  }
}

.spacer {
  padding: 7.5px 0px;
  background-color: var(--secondary-color);
  &:not(:empty) {
    padding: 10px $padding-x;
  }
}

.interactive {
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: var(--item-hover-color);
  }
}

.footer {
  @include margin-x(20px);
  padding-top: 25px;

  button + button {
    margin-top: 10px;
  }
}

.overlay {
  &:global(.#{$ns}-drawer) {
    .footer {
      margin-top: auto;
      margin-bottom: 25px;
    }
  }
}
