@import '~styles/utils';

.chapters {
  @include sq-dimen(100%);
  overflow: auto;
  -webkit-overflow-scrolling: auto;

  @media (max-width: 480px) {
    @include padding-x(20px);
  }

  @media (min-width: 481px) {
    @include padding-x(40px);
  }
}

.content {
  padding-top: 40px;
  margin-bottom: 40px; // this make sure content scrollable
  min-height: 100%;

  // &:nth-child(odd) {
  //   background-color: red;
  // }
  // &:nth-child(even) {
  //   background-color: blue;
  // }
}

.paramgraph {
  white-space: pre-wrap;
  + .paramgraph {
    margin-top: 1em;
  }
}
