@import '~styles/utils';

.chapters {
  @include sq-dimen(100%);
  overflow: auto;
  -webkit-overflow-scrolling: auto;

  @media (max-width: 480px) {
    @include padding-x(20px);
  }

  @media (min-width: 481px) {
    @include padding-x(40px);
  }
}

.content {
  $margin-bottom: 40px;
  @include flex($flex-direction: column);
  min-height: 100vh;
  min-height: calc(var(--vh, 1vh) * 100);
  margin-bottom: $margin-bottom; // this make sure content scrollable
  padding-top: 40px;
  overflow: hidden;

  &:last-child {
    padding-bottom: env(safe-area-inset-bottom, 0);
  }
}

.chapter-name {
  font-weight: 500;
  font-size: 1.4em;
  line-height: 1.2em;
  margin-bottom: 1.5em;
}

.paragraph {
  white-space: pre-wrap;
  font-size: 1em;
  line-height: inherit;

  + .paragraph {
    margin-top: 1.5em;
  }
}

.next-chapter {
  margin-top: 20px;
  margin-bottom: calc(40px + env(safe-area-inset-bottom, 0));
}

.loading,
.error {
  @include flex(center, center);
  flex: 1 1 auto;
}

.loading {
  font-size: 1.5em;
  letter-spacing: 0.1em;
}

.error {
  text-align: center;

  div {
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
    min-width: 100px;
  }
}
