@import '~styles/utils';

.item {
  @include relative();
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  + .item {
    &:before {
      @include absolute(0, null, 5%);
      @include dimen(90%);
      border-top: 1px solid var(--divider-color);
      content: '';
    }
  }

  &:hover {
    background-color: var(--item-hover-color);
    .action-button {
      visibility: visible;
    }
  }

  &.active {
    background-color: var(--item-active-color);
  }

  &:last-child {
    margin-bottom: 20px;
  }
}

.item-body {
  @include flex();
  overflow: hidden;
  padding: 20px;
}

.item-content {
  flex: 1 1 auto;
  overflow: hidden;
  padding-right: 15px;
}

.item-description {
  @include multi-line-ellipsis(1.4em, 3);
  margin-top: 0.3em;
}

.item-date {
  margin-top: 1em;
}

.item-description,
.item-date {
  font-size: 0.8em;
  color: var(--text-light-color);
}

.item-status {
  flex: 0 0 auto;
  margin-left: 10px;
  min-width: 3em;
  min-height: 20px;
}
