@import '~styles/utils';

.#{$ns}-button:not([class*='bp3-intent-']) {
  .#{$ns}-icon.#{$ns}-icon {
    color: var(--text-color);
  }
}

.#{$ns}-popover.#{$ns}-popover {
  [data-theme^='light'] & {
    box-shadow: $pt-elevation-shadow-2;
  }

  .#{$ns}-popover-content {
    color: var(--text-color);
  }

  [data-theme^='dark'] & {
    .#{$ns}-popover-arrow-fill {
      fill: var(--primary-color);
    }

    .#{$ns}-popover-content {
      background-color: var(--primary-color);
    }
  }
}

.#{$ns}-dialog.#{$ns}-dialog {
  @include dimen(auto);
  border-radius: 4px;
  background-color: var(--secondary-color);
  min-width: 300px;
  overflow: hidden;
  padding-bottom: 10px;

  .#{$ns}-dialog-header {
    background-color: var(--primary-color);
    min-height: 50px;

    .#{$ns}-heading {
      font-size: 16px;
    }
  }
}

a,
a:hover,
.#{$ns}-dark a,
.#{$ns}-dark a:hover {
  color: inherit;
}

// for checkbox / swtich
.#{$ns}-control {
  margin-bottom: 0;
}

.#{$ns}-toast {
  max-width: 320px;
}

.#{$ns}-toast-message {
  .toast-message-title {
    font-weight: bold;
    font-size: 14px;
    height: 16px;
    margin-bottom: 5px;
  }
}
