@import '~@taisiusyut/style/src/blueprint-variables';
@import '~@taisiusyut/style/src/utils/index';
@import './colors';

// admin
$sidebar-width: 250px;
$sidebar-width-small: 70px;
$sidebar-padding-x: 15px;
$max-width: 1440px;
$min-date-range-input-width: 220px;

$header-height: 55px !default;
$bottom-navigation-height: 60px !default;
$break-point: 768px !default;

// client
$fix-width: 1280px;
