@import '~normalize.css';
@import '~@fullstack/style/dist/blueprint.css';
@import '~@blueprintjs/icons/lib/css/blueprint-icons.css';
@import './utils';
@import './variables';
@import './form';
@import './toast';

*,
*:before,
*:after {
  box-sizing: border-box;
}

#__next {
  @include sq-dimen(100%);
}

body {
  background-color: var(--secondary-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;

  // this disable scroll bouncing on some brwoser
  overscroll-behavior: none;
}

img {
  vertical-align: middle;
}

a:not(.link),
a:not(.link):hover {
  text-decoration: none;
  color: inherit;
}
