@import '~styles/utils';

.header {
  @include flex(center, space-between);

  .button-group {
    button {
      + button {
        margin-left: 10px;
      }
    }
  }
}

.tag {
  margin-top: 5px;
  margin-left: 5px;
}
