@import '~styles/utils';

.header {
  @include flex(center, space-between);

  .button-group {
    button {
      + button {
        margin-left: 10px;
      }
    }
  }
}

.fitler {
  @include margin-y(20px);
}

.cover {
  @include dimen(120px);
  @include relative();
  background-color: var(--primary-color);
  box-shadow: $pt-dark-elevation-shadow-0;
  cursor: pointer;

  &.uploaded {
    box-shadow: 0px 0px 3px 1px var(--shadow-color);
  }

  &:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 4/3 * 100%;
  }

  &:after {
    @include absolute(0, 0, 0, 0);
    @include flex(center, center);
    content: '+';
    font-size: 30px;
  }
}
