@import '~styles/utils';

.content {
  @include dimen(100%);
  @include padding-x(25px);
  @include padding-y(25px);
  flex: 1 1 auto;
  overflow: auto;
}

.section {
  + .section {
    margin-top: 50px;
  }
  &:last-child {
    margin-bottom: 30px;
  }
}

.book-model {
  margin-left: 7.5px;
}

.section-content {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media (max-width: 1024px) {
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  }
}

.section-card {
  @include flex(center);
  @include sq-dimen(100%);
}

.book-info {
  $line-height: 1.765em;
  $min-height: 1em;
  line-height: $line-height;
  flex: 1 1 auto;

  .book-author,
  .book-category,
  .book-last-published-at {
    color: var(--text-light-color);
  }
}
