@import '~styles/utils';

.sidebar {
  @include relative();
  flex: 0 0 auto;
  z-index: $pt-z-index-overlay - 1;

  @media (min-width: $break-point + 1) {
    @include dimen($sidebar-width, 100%);
  }

  @media (max-width: $break-point) {
    @include dimen($sidebar-width-small);
    min-height: 100%;
  }
}

.inner {
  @include fixed();
  @include flex($flex-direction: column);
  background-color: var(--primary-color);
  box-shadow: 1px 0 0 var(--divider-color);
  min-height: 100%;

  @media (min-width: $break-point + 1) {
    @include dimen(1000px + $sidebar-width);
    overflow-y: auto;
    margin-left: -1000px;
    padding-left: 1000px + $sidebar-padding-x;
    padding-right: $sidebar-padding-x;
  }

  @media (max-width: $break-point) {
    @include sq-dimen(100%);
    @include padding-x(10px);
  }
}

.header {
  @include flex(center);
}

.logo {
  @include relative();
  flex: 0 0 auto;

  &:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 100%;
  }

  @media (min-width: $break-point + 1) {
    @include dimen(75px);
  }

  @media (max-width: $break-point) {
    @include dimen(100%);
  }
}

.header-content {
  flex: 1 1 auto;
  padding-left: 5px;

  @media (max-width: $break-point) {
    display: none;
  }
}

.nick-name {
  font-size: 16px;
  margin-left: -0.4em;
  :global {
    .bp3-button-text {
      @include text-overflow-ellipsis();
      max-width: 120px;
    }
  }
}

.role {
  color: var(--text-light-color);
  font-size: 12px;
  margin-bottom: 12px;
}

.content {
  flex: 1 1 auto;
  padding-top: 15px;
}

$icon-size: 28px;
$radius: 5px;

.item {
  @include relative();
  @include dimen(100%);
  border-radius: $radius;
  color: var(--text-light-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;

  @media (min-width: $break-point + 1) {
    padding-left: $sidebar-padding-x;
  }

  + .item {
    margin-top: 10px;
  }

  .item-icon {
    color: #fff;
    background-color: var(--text-light-color);
  }

  &:hover {
    background-color: rgba($pt-intent-primary, 0.2);
    color: $pt-intent-primary;
    text-decoration: none;

    .item-icon {
      background-color: $pt-intent-primary;
    }
  }

  &.active {
    color: #fff;
    background-color: $pt-intent-primary;
    // prettier-ignore
    box-shadow:
      0 0 0 1px rgba($pt-intent-primary, 0.1),
      0 2px 4px rgba($pt-intent-primary, 0.2),
      0 8px 24px rgba($pt-intent-primary, 0.2);

    .item-icon {
      background-color: #fff;
      color: $pt-intent-primary;
    }
  }
}

.item-content {
  @include dimen(100%, 50px);
  @include flex(center);
  @include relative();
}

.item-icon {
  @include sq-dimen($icon-size);
  @include flex(center, center);
  border-radius: 9px;

  @media (max-width: $break-point) {
    margin: auto;
  }
}

.item-label {
  @media (min-width: $break-point + 1) {
    margin-left: 10px;
  }

  @media (max-width: $break-point) {
    display: none;
  }
}
