@import '~styles/scss';

.sidebar {
  @include dimen($sidebar-width, 100%);
  @include relative();
  flex: 0 0 auto;
  z-index: $pt-z-index-overlay - 1;
}

.inner {
  @include dimen(1000px + $sidebar-width);
  @include fixed();
  @include padding-y(20px 30px);
  box-shadow: 1px 0 0 rgba(16, 22, 26, 0.15);
  background-color: var(--main-color);
  overflow-y: auto;
  min-height: 100%;
  margin-left: -1000px;
  padding-left: 1000px + $sidebar-padding-x;
  padding-right: $sidebar-padding-x;
}

.header {
  @include flex(center);
  margin-left: -5px;
  margin-top: -10px;
}

.logo {
  flex: 0 0 auto;
}

.header-content {
  flex: 1 1 auto;
  padding-left: 5px;
}

.nick-name {
  font-size: 16px;
  margin-left: -0.4em;
  :global {
    .bp3-button-text {
      @include text-overflow-ellipsis();
      max-width: 120px;
    }
  }
}

.role {
  color: var(--text-light-color);
  font-size: 12px;
  margin-bottom: 12px;
}

.content {
  padding-top: 15px;
}

$icon-size: 28px;
$radius: 5px;

.item {
  @include relative();
  color: var(--text-light-color);
  display: block;
  font-weight: 600;
  font-size: 16px;
  padding-left: $sidebar-padding-x;

  &:before {
    @include absolute(0, 0, 0);
    @include margin-y(auto);
    @include sq-dimen(100%);
    border-radius: $radius;
    content: '';
  }

  + .item {
    margin-top: 10px;
  }

  .item-icon {
    color: #fff;
    background-color: var(--text-light-color);
  }

  &:hover {
    text-decoration: none;
    color: get-color(blue);

    .item-icon {
      background-color: get-color(blue);
    }

    &:before {
      background-color: rgba(get-color(blue), 0.2);
    }
  }

  &.active {
    color: #fff;

    .item-icon {
      background-color: #fff;
      color: get-color(blue);
    }

    &:before {
      background-color: get-color(blue);
      // prettier-ignore
      box-shadow:
        0 0 0 1px rgba(get-color(blue), 0.1),
        0 2px 4px rgba(get-color(blue), 0.2),
        0 8px 24px rgba(get-color(blue), 0.2);
    }
  }
}

.item-content {
  @include dimen(100%, 50px);
  @include flex(center);
  @include relative();
}

.item-icon {
  @include sq-dimen($icon-size);
  @include flex(center, center);
  margin-right: 10px;
  border-radius: 9px;
}
