@import '~styles/utils';

.canvas {
  @include relative();

  &:before {
    @include dimen(100%, 0);
    content: '';
    display: block;
    padding-bottom: 75/300 * 100%;
  }

  canvas {
    @include absolute(0, 0, 0, 0);
    @include sq-dimen(100%);
  }
}

.title {
  color: var(--text-light-color);
  font-size: 13px;
}

.sub-title {
  @include flex(flex-end);
  @include margin-y(10px 20px);
  color: var(--text-color);
  font-size: 20px;
}

.value {
  display: block;
  margin-right: 0.3rem;
  line-height: 1rem;
}

.arrow {
  svg {
    @include sq-dimen(1em);
    fill: currentColor;
  }
}

.arrow,
.changes {
  font-size: 0.6em;
}

.changes {
  line-height: 1em;
  margin-left: 0.15em;
}

.red {
  color: $red3;
}
.green {
  color: $green3;
}
.gray {
  color: var(--text-light-color);
}
