$pt-intent-primary: #4285f4;

// Buttons
$pt-button-height: 34px;
$pt-button-height-small: 26px;

// Inputs
$pt-input-height: $pt-button-height;

// card
$dark-card-background-color: var(--main-color);

// divider
$pt-dark-divider-black: #343434;

// divider
$dark-menu-background-color: var(--main-diff1-color);

@import '~@blueprintjs/core/src/common/variables';
@import '~@blueprintjs/core/src/common/colors';
