$pt-intent-primary: #4285f4;

// Buttons
$pt-button-height: 34px;
$pt-button-height-small: 26px;

// Inputs
$pt-input-height: $pt-button-height;

// card
$dark-card-background-color: var(--primary-color);

// divider
$pt-dark-divider-black: rgba(255, 255, 255, 0.15);

// menu
$dark-menu-background-color: var(--primary-color);

@import '~@blueprintjs/core/src/common/variables';
@import '~@blueprintjs/core/src/common/colors';

$button-intents: (
  'primary': (
    $pt-intent-primary,
    darken($pt-intent-primary, 15%),
    darken($pt-intent-primary, 25%)
  ),
  'success': (
    $pt-intent-success,
    $green2,
    $green1
  ),
  'warning': (
    $pt-intent-warning,
    $orange2,
    $orange1
  ),
  'danger': (
    $pt-intent-danger,
    $red2,
    $red1
  )
);
