@import '~styles/utils';

.table {
  @include flex($flex-direction: column);
  @include relative();
  overflow: auto;
}

.th {
  @include flex(center);
  cursor: pointer;
  user-select: none;

  :global {
    span {
      margin-left: 5px;
    }
  }
}

.td[role='cell'] {
  height: 60px;
  vertical-align: middle;
  white-space: nowrap;
}
