@import '~styles/scss';

.table {
  + .#{$ns}-non-ideal-state {
    @include margin-y(20px);
  }

  table {
    @include dimen(100%);
  }
}

.pagination-table {
  @include flex($flex-direction: column);
  @include relative();
  overflow: auto;

  .loading {
    @include absolute(0, null, 0);
    @include flex(center, center);
    @include sq-dimen(100%);
    background-color: #fff;
    opacity: 0.75;
    pointer-events: auto;
  }

  td[role='cell'] {
    vertical-align: middle;
    min-height: 1.4em;
    &:empty {
      &:after {
        @include dimen(80%);
        content: '';
        display: block;
      }
    }
  }
}

.th {
  @include flex(center);
  cursor: pointer;
  user-select: none;

  :global {
    span {
      margin-left: 10px;
    }
  }
}
