@import '~styles/utils';

.table {
  @include relative();
}

.table-content {
  @include flex($flex-direction: column);
  overflow: auto;
  padding-bottom: 15px;
}

.divider {
  margin-bottom: 25px;
}

.th {
  @include flex(center);
  cursor: pointer;
  user-select: none;

  :global {
    span {
      margin-left: 5px;
    }
  }
}

.td[role='cell'] {
  height: 60px;
  vertical-align: middle;
  white-space: nowrap;

  &:empty {
    &:after {
      @include dimen(80%, 1.2em);
      content: '';
      display: block;
      background-color: #ccc;
    }
  }
}
