@import '~styles/utils';

.section {
  + .section {
    margin-top: 15px;
  }

  .section-content {
    margin-top: 20px;
  }

  :global {
    .#{$ns}-divider {
      @include margin-x(0);
    }

    .rc-form-item-label {
      font-weight: bold;
    }
  }
}

.profile {
  .description {
    $line-height: 1.8em;
    height: auto;
    line-height: $line-height;
    min-height: $line-height * 4;
    padding: 0.3em 0.7em;
  }

  .footer {
    text-align: right;

    :global {
      button + button {
        margin-left: 10px;
      }
    }
  }
}

.preferences {
  :global {
    .#{$ns}-label {
      line-height: 20px !important;
      min-width: 100px;
    }
  }
}

.danger-zone {
  .danger-zone-content {
    border: 1px solid $red3;
    border-radius: 3px;
    padding: 20px;

    > div {
      @include flex(flex-start, space-between);

      > div:nth-child(1) {
        max-width: 600px;
        margin-right: 15px;
      }

      b {
        display: block;
        margin-bottom: 5px;
      }
    }

    :global {
      .#{$ns}-button {
        white-space: nowrap;

        &.#{$ns}-button:not([class*='-intent-']) {
          color: $red3;
        }
      }

      .#{$ns}-divider {
        @include margin-y(20px);
      }
    }
  }
}
