@import '~styles/utils';

.content {
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  overflow: auto;
  padding: 20px;
  margin-bottom: env(safe-area-inset-bottom, 0);

  > :global(.#{$ns}-card) {
    + :global(.#{$ns}-card) {
      margin-top: 20px;
    }
  }
}
