@import '~styles/utils';

.content {
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  overflow: auto;
  padding: 20px;

  > :global(.#{$ns}-card) {
    + :global(.#{$ns}-card) {
      margin-top: 20px;
    }
  }
}

.book {
  margin-top: 10px;

  .book-model {
    @include margin-x(5px 15px);
    float: left;
    margin-bottom: 10px;
  }

  .book-title {
    @include flex(flex-end, $wrap: wrap);
    margin-bottom: 5px;

    @media (max-width: 480px) {
      font-size: 18px;
    }

    @media (min-width: 481px) {
      font-size: 20px;
    }

    .name {
      font-weight: bold;
      margin-bottom: 0;
      margin-right: 10px;
    }

    .author {
      color: var(--text-light-color);
      font-size: 0.8em;
      margin-top: 0.25em;
    }
  }

  .book-content {
    float: left;
    width: calc(100% - 110px);
  }

  .tags {
    @include relative(null, null, -5px);
    margin-bottom: 10px;
  }

  .description {
    line-height: 1.5em;
    word-break: break-all;
  }
}

.chapters-grid-card {
  @include flex($flex-direction: column);
  flex: 1 1 auto;

  .spacer {
    flex: 1 1 auto;
  }

  .divider {
    @include margin-y(50px 15px);
  }

  .chapter-head {
    margin-left: 10px;
  }
}

.chapter-head {
  @media (min-width: 481px) {
    font-size: 18px;
  }
}

.chapters-grid {
  margin-top: 20px;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));

  :global(.layout-body:not(.fix-width)) & {
    @media (min-width: 1280px) {
      grid-template-columns: repeat(5, minmax(150px, 1fr));
    }
  }

  .chapter-item {
    align-self: baseline;
  }

  .tag {
    margin-right: 1em;
  }

  .chapter-name {
    flex: 1 1 auto;
    &:empty {
      @include dimen(80%, 20px);
      content: '';
      display: block;
      background-color: rgba($gray3, 0.2);
    }
  }
}

.chapters-list-trigger {
  @include flex(center, space-between);
}
