@import '~styles/utils';

.search {
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  @include shadow-border();
  background-color: var(--primary-color);
}

.border {
  border-top: 1px solid var(--primary-color);
  position: relative;
  z-index: 11;
}

.content {
  @include flex($flex-direction: column);
  flex: 1 1 auto;
  overflow: hidden;

  @media (max-width: $break-point) {
    padding-top: 59px;
  }
}

.search-field {
  @include dimen(100%);
  @include flex(center);
  background-color: var(--primary-color);
  border-bottom: 1px solid var(--divider-color);
  flex: 0 0 auto;
  padding: 10px 15px 15px;

  @media (max-width: $break-point) {
    @include fixed($header-height, null, 0);
    z-index: 10;
  }
}

.select {
  flex: 0 0 auto;
  margin-right: 10px;
  select {
    font-size: inherit;
  }
}

.books {
  overflow: auto;
}

.not-found {
  flex: 1 1 auto;
}
