@import '~styles/utils';

.chapter-content {
  margin-top: 20px;
}

.editor-container {
  .head {
    @include flex(center, space-between);
    margin: -0.5em;
    margin-bottom: 0.5em;
    padding-right: 0.5em;
    border-bottom: 1px solid var(--divider-color);

    font-size: 14px;
  }

  .editor {
    @include editor-style(10);
    font-size: 16px;
  }
}

.footer {
  @include flex(center, flex-end);
  button {
    min-width: 70px;
    + button {
      margin-left: 10px;
    }
  }

  .spacer {
    flex: 1 1 auto;
  }
}

.drop-area {
  position: absolute;
}

.insert-image-divider {
  @include flex(center);
  @include margin-y(15px);
  position: relative;

  &::before,
  &::after {
    content: '';
    border-bottom: 1px solid var(--text-light-color);
    width: 100%;
  }

  span {
    padding: 0 10px;
  }
}

.image-drop-area {
  position: relative;
  padding-bottom: 56.25%;
}

.image-drop-area-content {
  position: absolute;
}
