@import '~styles/utils';

.container {
  @include flex($flex-direction: column);
  @include sq-dimen(100%);
  overflow: auto;
  padding: 25px 20px;
  margin-bottom: env(safe-area-inset-bottom, 0);
}

.info {
  .row {
    @include flex(flex-end, space-between);
    line-height: 1em;
  }

  .name {
    font-size: 18px;
    font-weight: bold;
  }

  .date {
    color: var(--text-light-color);
    font-size: 15px;
    margin-left: 10px;
  }

  .description {
    &:not(:empty) {
      margin-top: 10px;
      line-height: 1.5em;
    }
  }
}

.head {
  @include margin-y(15px);
  margin-left: 0.3em;

  @media (min-width: 481px) {
    font-size: 18px;
  }
}

.books {
  > * + * {
    display: block;
    margin-top: 25px;
  }
}

.book-model {
  composes: book-model from '../../BookInfoCard/BookInfoCard.module.scss';
  margin-top: 5px;
}

.book-description {
  composes: description from '../../BookInfoCard/BookInfoCard.module.scss';
  color: var(--text-light-color);

  @media (max-width: 640px) {
    @include multi-line-ellipsis(1.5em, 3);
  }
}

.icon {
  margin-left: 15px;
  margin-right: 5px;
}
